[submodule "ConsoleMVC/Common"]
	path = ConsoleMVC/Common
	url = https://github.com/AnSantos99/03_Felli_2020.git
	branch = common
[submodule "UnityMVC/Assets/Scripts/Common"]
	path = UnityMVC/Assets/Scripts/Common
	url = https://github.com/AnSantos99/03_Felli_2020.git
	branch = common
